<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>921618733326-fs9hmge8ng0ge0egpp91giejm3on1jsi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.921618733326-fs9hmge8ng0ge0egpp91giejm3on1jsi</string>
	<key>API_KEY</key>
	<string>AIzaSyCIC32gKi0m6ErD_XWNw9K1oqLv5EpCCBU</string>
	<key>GCM_SENDER_ID</key>
	<string>921618733326</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Ketchup.Ketchup</string>
	<key>PROJECT_ID</key>
	<string>foodi-v1-e989b</string>
	<key>STORAGE_BUCKET</key>
	<string>foodi-v1-e989b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:921618733326:ios:a2a8f2ec66b16406355f5f</string>
	<key>DATABASE_URL</key>
	<string>https://foodi-v1-e989b-default-rtdb.firebaseio.com</string>
</dict>
</plist>