<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.921618733326-fs9hmge8ng0ge0egpp91giejm3on1jsi</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>921618733326-fs9hmge8ng0ge0egpp91giejm3on1jsi.apps.googleusercontent.com</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>MuseoSans-500.otf</string>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>maps</string>
	</array>
</dict>
</plist>
