<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>BGTaskSchedulerPermittedIdentifiers</key>
        <array>
            <string>Ketchup.Ketchup</string>
        </array>
        <key>CFBundleURLTypes</key>
        <array>
            <dict>
                <key>CFBundleTypeRole</key>
                <string>Editor</string>
                <key>CFBundleURLSchemes</key>
                <array>
                    <string>com.googleusercontent.apps.921618733326-fs9hmge8ng0ge0egpp91giejm3on1jsi</string>
                </array>
            </dict>
            <dict>
                <key>CFBundleTypeRole</key>
                <string>Editor</string>
                <key>CFBundleURLSchemes</key>
                <array>
                    <string>app-1-921618733326-ios-a2a8f2ec66b16406355f5f</string>
                </array>
            </dict>
        </array>
        <key>GIDClientID</key>
        <string>921618733326-fs9hmge8ng0ge0egpp91giejm3on1jsi.apps.googleusercontent.com</string>
        <key>ITSAppUsesNonExemptEncryption</key>
        <false/>
        <key>LSApplicationQueriesSchemes</key>
        <array>
            <string>maps</string>
        </array>
        <key>LSMinimumSystemVersion</key>
        <string>14.4</string>
        <key>NSAppTransportSecurity</key>
        <dict>
            <key>NSAllowsArbitraryLoads</key>
            <true/>
        </dict>
        <key>UIAppFonts</key>
        <array>
            <string>MuseoSansRounded100.otf</string>
            <string>MuseoSansRounded300.otf</string>
            <string>MuseoSansRounded500.otf</string>
            <string>MuseoSansRounded700.otf</string>
            <string>MuseoSansRounded900.otf</string>
            <string>MuseoSansRounded1000.otf</string>
        </array>
        <key>UIBackgroundModes</key>
        <array>
            <string>fetch</string>
            <string>processing</string>
            <string>remote-notification</string>
        </array>
        <key>FirebaseAppDelegateProxyEnabled</key>
        <false/>
        
        <key>FirebaseMessagingAutoInitEnabled</key>
        <false/>
        
        <key>NSAppTransportSecurity</key>
        <dict>
            <key>NSAllowsArbitraryLoads</key>
            <false/>
        </dict>
        <key>NSRemoteNotificationUsageDescription</key>
        <string>We use notifications to keep you updated with the latest news and important alerts.</string>
        
        <!-- Camera Usage -->
        <key>NSCameraUsageDescription</key>
        <string>We need access to your camera to take photos for profile pictures and content sharing.</string>
        
        <!-- Microphone Usage -->
        <key>NSMicrophoneUsageDescription</key>
        <string>We need access to your microphone to record audio for video content.</string>
        
        <!-- Photo Library Usage -->
        <key>NSPhotoLibraryUsageDescription</key>
        <string>We need access to your photo library to allow you to choose photos for your profile and posts.</string>
        
        <!-- Location Usage -->
        <key>NSLocationWhenInUseUsageDescription</key>
        <string>We use your location to provide personalized content and services based on where you are.</string>
        
        <key>NSContactsUsageDescription</key>
        <string>This app requires access to your contacts to find your friends.</string>
    </dict>
</plist>
