<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>921618733326-3q5ggsk7tg91e9ldnhe4heatnt4bcp7b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.921618733326-3q5ggsk7tg91e9ldnhe4heatnt4bcp7b</string>
	<key>API_KEY</key>
	<string>AIzaSyCIC32gKi0m6ErD_XWNw9K1oqLv5EpCCBU</string>
	<key>GCM_SENDER_ID</key>
	<string>921618733326</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Foodi.Foodi</string>
	<key>PROJECT_ID</key>
	<string>foodi-v1-e989b</string>
	<key>STORAGE_BUCKET</key>
	<string>foodi-v1-e989b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:921618733326:ios:461dfeeee6d5b5ed355f5f</string>
	<key>DATABASE_URL</key>
	<string>https://foodi-v1-e989b-default-rtdb.firebaseio.com</string>
</dict>
</plist>